*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;;
}

header{
    background-color: red;
    height: fit-content;
    max-width: 1200px;
    padding: 1rem 1rem 0rem 1rem;
    margin: auto;
    position: sticky;
    top: 0;
}

.logoContainer{
    margin: 0 auto 2rem auto;
    width: fit-content;

}

.logo{
    width: 10rem;   
}

h1{
    color: rgb(255, 0, 0);
    font-size: 8rem;
    font-weight: 200;
    text-align: center;
}

#mainMenu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 3rem auto 3rem auto;
    padding: 2rem;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    justify-content: center;

}

#mainMenu li {
    color: rgb(255, 0, 0);
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    margin: 1.5rem;
    padding: 2rem;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    
}

#nav_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#nav_list li {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
}

#nav_list li:hover {
    background-color: rgba(255, 255, 255, 0.432);
    font-size: 1.7rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

h1{
    text-align: center;
    margin: auto;
}

#itemListContainer{
    margin: 2rem auto 3rem auto;
    max-width: 1200px;
}

.tittleListContainer{
    background-color: red;
    padding: 1rem;
    margin: 3rem 0 3rem 0;
}

.tittleList{
    font-size: 3rem;
    text-align: center;
    color: white;
}

.itemList{
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 2rem;
    /* height: 100%; */
}

.item_card{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    padding: 1rem;   
}

.item_card:hover{
    background-color: rgb(240, 240, 240);
}


.item_img{
    width: 200px;
    margin: auto;
}

.item_tittle{
    font-size: 2rem;
    font-weight: 400;
    text-align: center
}
.item_desc{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
    
}
.item_cod{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
}
.item_color{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
}
.item_price{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    background-color: red;
    color: white;
    padding: 0.2rem;
    margin-bottom: 1rem;
    
}
.item_stock{
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
}