*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;;
}

header{
    background-color: red;
    height: fit-content;
    max-height: 100vh;
    max-width: 1200px;
    padding: 1rem 1rem 0.2rem 1rem;
    margin: auto;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.logoContainer{
    margin: 0 auto 2rem auto;
    width: fit-content;

}

.logo{
    width: 10rem;   
}

h1{
    color: rgb(255, 0, 0);
    font-size: 8rem;
    font-weight: 200;
    text-align: center;
}

#mainMenu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 3rem auto 3rem auto;
    padding: 2rem;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    justify-content: center;

}

#mainMenu li {
    color: rgb(255, 0, 0);
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin: 1.5rem;
    padding: 2rem;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    
}

#mainMenu li:hover{
    scale: 1.1;
}



.list__item{
    list-style: none;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}


.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    text-align: left;
    width: fit-content;
    margin-left: 2rem;
    border-left: 2px solid #ffffff;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.list__inside{
    text-align: left;
    padding: 0.5rem;
}

/* #nav_list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: auto;
} */

#nav_list li {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem;
}

.list__inside:hover {
    background-color: rgba(255, 255, 255, 0.432);
}

h1{
    text-align: center;
    margin: auto;
}

#itemListContainer{
    margin: 2rem auto 3rem auto;
    max-width: 1200px;
}

.tittleListContainer{
    background-color: red;
    padding: 1rem;
    margin: 3rem 0 3rem 0;
}

.tittleList{
    font-size: 3rem;
    text-align: center;
    color: white;
}

.itemList{
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 2rem;

    /* height: 100%; */
}

.item_card{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(155, 155, 155, 0.5) ;
    padding: 1rem;   
}

.item_card:hover{
    background-color: rgb(240, 240, 240);
}


.item_img{
    width: 200px;
    margin: auto;
}

.item_tittle{
    font-size: 2rem;
    font-weight: 400;
    text-align: center
}
.item_desc{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
    
}
.item_cod{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
}
.item_color{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: right;
}

.item_linkFotos{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: red;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.item_linkFotos:hover{
    background-color: #aaaaaa4d;
}


.item_price{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    background-color: red;
    color: white;
    padding: 0.2rem;
    margin-bottom: 1rem;
    
}
.item_stock{
    font-size: 2rem;
    font-weight: 300;
    text-align: right;
} 



@media screen and (max-width: 1024px) {

    .itemList{
        max-width: 80vw;
        grid-template-columns: auto auto ; 
    }

    .item_tittle{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center
    }

    .item_img{
        
        margin: 1rem auto auto auto;
    }

    .item_desc{
        font-size: 1.8rem;
        
    }

    .item_cod{
        font-size: 1.6rem;
      
    }
    .item_color{
        font-size: 1.6rem;
    }
       
  }

@media screen and (max-width: 525px) {

    .itemList{
        max-width: 90%;
        grid-template-columns: 1fr;
    }

    .item_tittle{
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center
    }

    .item_img{
        width: 70vw;
        margin: 1rem auto auto auto;
    }

    .item_desc{
        font-size: 1.8rem;
        
    }

    .item_cod{
        font-size: 1.6rem;
      
    }
    .item_color{
        font-size: 1.6rem;
    }
       
  }

 